body {
  background-color: $body-bg;
  font-family: $primary-font;

  &.scroll-disabled {
    overflow: hidden !important;
  }
}

* {
  box-sizing: border-box;

  &:focus {
    outline: $outline;
  }
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
