<div class="modal" role="dialog" aria-hidden="true" aria-labelledby="modalTitle" aria-describedby="modalDescription" style="display: none">
	<button class="close-modal-btn reset-button" aria-label="Close Modal"></button>
	{% block content %}
		{# Modal content #}
	{% endblock %}
</div>
